<ion-header>
  <h4  align="center">
      {{Page3name}}
  </h4>
</ion-header>
<ion-content>
<ion-card class="welcome-card"> 
    <ion-img src="http://pluspng.com/img-png/winding-road-png-hd-road-png-2400.png"></ion-img>
  <ion-card-header>
    <ion-card-subtitle>Get Started</ion-card-subtitle>
    <ion-card-title>Welcome to Build Page</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Underneath by clicking the button we can find your destination and add it to a google map </p>
  </ion-card-content>
</ion-card>
<ion-list lines="none">
  <ion-list-header>
    <ion-label>Resources</ion-label>
  </ion-list-header>
  <button ion-button (click)="locate()">Get Current Location</button>
  {{data}}
  <ion-item href="">
  </ion-item>
  <ion-item href="">
  </ion-item>
  <ion-item href="">
  </ion-item>
  <ion-item href="">
  </ion-item>
</ion-list>
</ion-content>